<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CRUD</title>
</head>
<body>
<bottom>
<center>
    <h2>Registrar<h2>
    <div class="form"></div>
    <form action="/show" method="POST">
        <input type="text" placeholder="CPF" name="cpf" > <br>
        <input type="text" placeholder="Nome Completo" name="nome"><br>
        <input type="text" placeholder="CEP" name="cep"><br>
        <input type="text" placeholder="Rua" name="rua"><br>
        <input type="text" placeholder="Número" name="numero"><br>
        <input type="text" placeholder="Bairro" name="bairro"><br>

        <button type="submit">Enviar</button>
    </form> 
  </div>
</center>

<center>
  <button><a href="/show">Todos os clientes</a></button>
  <button><a href="/">Página Inicial</a></button>
</center>

</bottom>
</body>
</html>