<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CRUD</title>
</head>
<body>
<bottom>

    <center> a<b>Credit</b>a </center>
    <center> O banco que a<b>Credit</b>a em você. </center>
    
<center>
  <button><a href="/show">Todos os clientes</a></button>
  <button><a href="/cadastro">Cadastro</a></button>
</center>

</bottom>
</body>
</html>